<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="/login">Login</a>
    <a href="/signup">signup</a>
    <a href="/users/all">see all users</a>

    <a href="users/signout">Sign out</a>
  </body>
</html>
