<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile page</h1>
    <div class="info-container">
      <p>name:<%=user.name%></p>
      <p>email:<%=user.email%></p>
    </div>
  </body>
</html>
