<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sign Up</title>
  </head>
  <body>
    <h1>Sign up page</h1>

    <div class="form-container">
      <form action="/users/register" method="POST">
        <input type="text" name="name" placeholder="Enter name" />
        <input type="text" name="email" placeholder="Enter email" />
        <input type="password" name="password" placeholder="Enter password" />
        <input
          type="password"
          name="confirm_password"
          placeholder="Confirm password"
        />
        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
